# {{ ansible_managed }}
################################################################
# Global configuration
################################################################

# Enable debug mode
#
# Optional
# Default: false
#
# debug = true
logLevel = "WARNING"

defaultEntryPoints = ["http", "https"]
